<% set_page_title(title_with_error_prefix(t("page_titles.brand_new"), @brand.errors.any?)) %>
<% content_for :back_link, govuk_back_link_to(brands_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(model: @brand) do |f| %>
      <% if @brand.errors.any? %>
        <%= f.govuk_error_summary %>
      <% end %>

      <h1 class="govuk-heading-l"><%= t("page_titles.brand_new") %></h1>

      <%= f.govuk_text_field :name, label: { size: 'm' } %>

      <%= f.govuk_text_field :slug, label: { size: 'm' } %>

      <%= f.govuk_submit t("save_and_continue") %>
    <% end %>
  </div>
</div>
